<p>Je kunt hier 1 taak voorstellen die bij het project past</p>

<ul>
  <li  *ngFor="let task of suggestedTasks">
    <button mat-button matSuffix mat-icon-button aria-label="remove"
            (click)="removeTask(task)">
      <mat-icon>clear</mat-icon>
    </button>
    {{ task.task }}
  </li>
</ul>

<form
  *ngIf="!userHasTaskSubmitted()"
  [formGroup]="suggestTaskForm"
  (ngSubmit)="addTask()">
  <div class="a">
    <mat-form-field>
      <input matInput placeholder="Taak" formControlName="name" >
      <mat-error *ngIf="taskName.dirty && taskName.hasError('required')">
        Verplicht
      </mat-error>

      <button mat-button matSuffix mat-icon-button aria-label="Add"
              (click)="addTask()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
  </div>
</form>
