form {
  width: 100%;
  padding-left: 10px;
  display: grid;
  align-content: space-around;
  grid-template-areas:
    "a"
    "b";
}

ul {
  list-style: none;
}

ul li {
  margin-left: -40px;
}

ul li button {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

ul li button .material-icons {
  font-size: 16px;
}

form mat-form-field {
  width: 100%;
  min-height: 55px;
}

form button {
  margin-left: 10px;
  margin-top: 15px;
}
