<mat-card
  class="read">
  <mat-card-header>
    <mat-card-title>
      <b>{{project.name}}</b> <br/>
      {{project.user}}
    </mat-card-title>
    <mat-card-subtitle>Stemmen: {{project.votes.length}}</mat-card-subtitle>

    <span class="spacer"></span>
    <i class="material-icons" (click)="deleteProject()" *ngIf="user && project.user === user">clear</i>

  </mat-card-header>

  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Project">
        <p><b>Beschrijving</b></p>
        <p>
          {{project.description}}
        </p>
        <p><b>Doel</b></p>
        <p>
          {{project.goal}}
        </p>
        <p><b>Taken</b></p>
        <ul>
          <li *ngFor="let task of project.tasks">
            {{ task.name }}
          </li>
        </ul>
      </mat-tab>
      <mat-tab label="Votes">
        <p *ngIf="project.votes.length >= 5">Maximaal aantal votes bereikt (5)</p>
        <ul>
        <li *ngFor="let vote of project.votes">
          {{ vote }}
        </li>
      </ul></mat-tab>
      <mat-tab label="Voorgestelde taken" *ngIf="project.user !== user">
        <ipv-suggest-task
          [user]="user"
          [suggestedTasks]="project.suggestedTasks"
          (newTask)="newTask($event)">

        </ipv-suggest-task>
      </mat-tab>

    </mat-tab-group>


  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button=""
            *ngIf="project.votes.length < 6"
            [disabled]="voted"
            class="vote"
            color="accent" (click)="doVote()">VOTE</button>
    <button mat-raised-button=""
            [disabled]="!voted"
            class="unvote"
            color="" (click)="unvote()">UNVOTE</button>
  </mat-card-actions>
</mat-card>
