mat-card.read {
  max-width: 90vw;
  word-break: break-word;
  display: grid;
  grid-template-rows: 50px 10fr 1fr;
}

.read .spacer {
  flex: 1 1 auto;
}

mat-card.read .mat-card-actions {
  display: grid;
  padding: 10px;
  grid-template-columns: 8fr 1fr 1fr;
  max-height: 50px;
}

.mat-card-actions p {
  grid-column-start: 2;
  grid-column-end: 3;
}

.mat-card-actions button.vote {
  grid-column-start: 2;
  grid-column-end: 3;
}

.mat-card-actions button.unvote {
  grid-column-start: 3;
  grid-column-end: 4;
}

mat-card-content {
  padding: 10px;
}

.login-form {
  min-width: 150px;
  width: 100%;
  padding-left: 10px;
}

.login-form mat-form-field {
  width: 100%;
  min-height: 55px;
}

form {
  display: grid;
  grid-template-rows: auto;
}
