.login {
  margin-top: 15vh;
}

mat-card {
  /*max-height: 300px;*/
  display: grid;
  max-height: 300px;
}

mat-card .mat-card-actions {
  display: grid;
  padding: 10px;
  grid-template-columns: 3fr 1fr;
}

.mat-card-actions button {
  grid-column-start: -1;
}

.login-form {
  min-width: 150px;
  width: 100%;
  padding-left: 10px;
  font-size: 18pt;
}

.login-form mat-form-field {
  width: 100%;
  min-height: 55px;
}
