<mat-card class="login">

  <mat-card-content>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="onLogin()">

      <div class="login-form">
        <mat-form-field>
          <input matInput placeholder="Email"
                 type="email"
                 formControlName="email">
          <mat-error *ngIf="email.invalid">
            Vul een valide email in
          </mat-error>
        </mat-form-field>

      </div>

      <mat-card-actions>
        <button mat-raised-button="" color="primary">LOGIN</button>
      </mat-card-actions>

    </form>

  </mat-card-content>
</mat-card>
