.wrapper {
  max-width: 100%;
  display: grid;
  grid-gap: 10px;
  height: 100vh;

  grid-template-rows: 175px auto;
}

.wrapper > * {
  padding: 20px 20px 0 20px;
}

header {
  display: grid;
  grid-template-columns: 18fr 1fr;
}

header i {
  margin-left: auto;
}

.header {
  background-color: #e41d29;
  color: #fff
}

main {
  display: grid;
  margin: -50px auto;
  min-width: 90vw;
  max-height: 90vh;
  overflow: scroll;
}

router-outlet {
  display: none;
}
