<div class="options">
  <i class="material-icons" (click)="toggleNewProject()" *ngIf="!showNewProject && user">file_upload</i>
  <i class="material-icons" (click)="toggleNewProject()" *ngIf="showNewProject && user">clear</i>
</div>
<div class="project-votes">
  <ipv-new-project
    *ngIf="showNewProject"
    [@flyInOut]
    (@flyInOut.start)="toggleShowProject()"
    (@flyInOut.done)="toggleShowProject()"
    (add)="addProject($event)">

  </ipv-new-project>

  <div class="projects"
       [@flyInOut]
       *ngIf="showProjects">

    <ipv-project
      *ngFor="let project of projects$ | async; trackBy: projectId"
      [project]="project"
      [user]="user"
      (vote)="vote($event)"
      (delete)="delete($event)"
      (newSuggestedTask)="newSuggestedTask($event)">

    </ipv-project>
  </div>
</div>
