.options {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #fff;
}

.project-votes {
  display: grid;
  min-width: 90vw;
  max-height: 90vh;
  overflow: scroll;
}

.projects {
  display: grid;
  grid-gap: 30px;
  position: absolute;
  max-width: 90vw;
  overflow: scroll;
  max-height: 80vh;
  min-width: 90vw;
  grid-template-columns: 1fr;
}

.projects ipv-project {
  display: grid;
  /*grid-template-rows: max-content;*/
}
