<mat-card class="input">
  <mat-card-header>
    <mat-card-title><b>Nieuw project</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="newProject">
      <div class="new-project-form">
        <mat-form-field>
          <input matInput placeholder="Naam"
                 formControlName="name">
          <mat-error *ngIf="name.hasError('required')">
            Verplicht
          </mat-error>
        </mat-form-field>

        <mat-form-field>
              <textarea matInput placeholder="Beschrijving"
                        rows="10"
                        formControlName="description"></textarea>
          <mat-error *ngIf="description.hasError('required')">
            Verplicht
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="(leer)Doel"
                 formControlName="goal">
          <mat-error *ngIf="goal.hasError('required')">
            Verplicht
          </mat-error>
        </mat-form-field>

        <div formArrayName="tasks">
          <mat-form-field
            *ngFor="let task of projectTasks.controls; index as i; last as isLast; first as isFirst"
            [formGroupName]="i">
            <input matInput placeholder="Taak" formControlName="name"
                   (keydown.enter)="addTask()">
            <mat-error *ngIf="task.get('name').hasError('required')">
              Verplicht
            </mat-error>
            <button *ngIf="!isFirst" mat-button matSuffix mat-icon-button aria-label="remove"
                    (click)="removeTask(i)" type="button">
              <mat-icon>clear</mat-icon>
            </button>
            <button *ngIf="isLast && i < 4" mat-button matSuffix mat-icon-button aria-label="Add"
                    (click)="addTask()" type="button">
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <button type="button" mat-raised-button="" (click)="submitNewProject()">SUBMIT</button>
    </form>
  </mat-card-content>
</mat-card>
